#sidebar {
  width: 100%;
  height: auto;
  padding: 20px 0 0 20px;
  overflow: hidden;
  line-height: 2.4rem;
  position: relative;

  & > p {
    margin-bottom: 0px;
  }

  &::after {
    content: "";
    width: 1px;
    background-color: var(--text);
    position: absolute;
    left: 28px;
    top: 40px;
    bottom: 0;
  }

  li {
    height: 24px;
    overflow-y: hidden;
    padding-left: 20px;
    padding-bottom: 5px;
    list-style: none;
    white-space: nowrap;
    position: relative;
    vertical-align: baseline;

    &::after {
      content: "";
      height: 1px;
      width: 10px;
      background-color: var(--text);
      position: absolute;
      top: 12px;
      left: 9px;
    }

    &:last-child::before {
      content: "";
      width: 11px;
      display: block;
      position: absolute;
      z-index: 100;
      background-color: var(--background);
      left: 5px;
      top: 13px;
      bottom: -5px;
    }

    .circle {
      width: 20px;
      height: 20px;
      line-height: 25px;
      background-color: var(--text);
      border-radius: 50%;
      display: inline-block;
      vertical-align: bottom;
      cursor: pointer;
      position: relative;

      span {
        height: 2px;
        width: 50%;
        background-color: var(--background);
        position: absolute;
        top: 50%;
        left: 50%;

        &:nth-of-type(1) {
          transform: rotate(90deg) translate(-1px, 5px);
        }

        &:nth-of-type(2) {
          transform: translate(-50%, -50%);
        }
      }
    }

    ul {
      padding-top: 5px;
      position: relative;

      &::before {
        content: "";
        width: 1px;
        background-color: var(--text);
        position: absolute;
        left: 9.3px;
        top: 0;
        bottom: 11px;
      }
    }

    a {
      height: 20px;
      padding-left: 5px;
      display: inline-block;
      vertical-align: bottom;
      transform: translateX(0px);
      transition: all 0.5s ease;

      &:hover {
        transform: translateX(5px);
        color: var(--blue);
      }
    }
  }

  & > li:last-child::before {
    content: "";
    width: 11px;
    height: 100vh;
    display: block;
    position: absolute;
    z-index: 100;
    background-color: var(--background);
    left: 5px;
    top: 13px;
  }
}
