<footer id="footer">
  <div class="nav-area">
    <div class="container">
      {{ $sections:= site.Data.sections }}
      {{ if (index site.Data site.Language.Lang).sections }}
      {{ $sections = (index site.Data site.Language.Lang).sections }}
      {{ end }}

      {{ if $sections }}
      <ul>
        {{ range sort $sections "section.weight" }}
        {{ if .section.enable }}
        <li>
          <a href="#{{ .section.id }}">{{ .section.name }}</a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
      {{ end }}
    </div>

    <div class="container">
      {{ if .Site.Params.gitHub }}
      <a class="icon-container" target="_blank" href="https://github.com/{{ .Site.Params.github.id }}" title="github">
        {{ partial "icons/ionicons" (dict "logoname" "logo-github" "class" "svgicon") }}
        <span>{{ .Site.Params.github.id }}</span>
      </a>
      {{ end }}

      {{ if .Site.Params.twitter }}
      <a class="icon-container" target="_blank" href="https://twitter.com/{{ .Site.Params.twitter.id }}" title="twitter">
        {{ partial "icons/ionicons" (dict "logoname" "logo-twitter" "class" "svgicon") }}
        <span>{{ .Site.Params.twitter.id }}</span>
      </a>
      {{ end }}
    </div>
  </div>

  <hr>

  <div>
    <p class="copyright">
      {{ .Site.Copyright }}
    </p>
  </div>
</footer>