<header id="header">
  <nav>
    {{- $label_text := (.Site.Params.header.title | default .Site.Title) }}
    <a class="title" href="{{ "" | absLangURL }}" title="{{ $label_text }}">
      {{- $label_text -}}
    </a>

    {{ $sections:= site.Data.sections }}
    {{ if (index site.Data site.Language.Lang).sections }}
    {{ $sections = (index site.Data site.Language.Lang).sections }}
    {{ end }}

    {{ if $sections }}
    <ul class="nav-area">
      <li>
        <a href="#top">top</a>
      </li>
      {{ range sort $sections "section.weight" }}
      {{ if .section.enable }}
      <li>
        <a href="#{{ .section.id }}">{{ .section.id }}</a>
      </li>
      {{ end }}
      {{ end }}
      <li>
        <a href="/posts" data-filter="all">posts</a>
      </li>
    </ul>
    {{ end }}

    <button id="toggle-theme">
      <svg id="moon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
      </svg>
      <svg id="sun" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
        <circle cx="12" cy="12" r="5"></circle>
        <line x1="12" y1="1" x2="12" y2="3"></line>
        <line x1="12" y1="21" x2="12" y2="23"></line>
        <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
        <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
        <line x1="1" y1="12" x2="3" y2="12"></line>
        <line x1="21" y1="12" x2="23" y2="12"></line>
        <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
        <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
      </svg>
    </button>

    <div id="hamburger">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </nav>
</header>

<div id="drawer">
  {{ if $sections }}
  <ul class="nav-area">
    <li>
      <a href="#top">top</a>
    </li>
    {{ range sort $sections "section.weight" }}
    {{ if .section.enable }}
    <li>
      <a href="#{{ .section.id }}">{{ .section.id }}</a>
    </li>
    {{ end }}
    {{ end }}
    <li>
      <a href="/posts" data-filter="all">posts</a>
    </li>
  </ul>
  {{ end }}
</div>

<script>
  // カラーテーマを変更する
  function changeTheme(mode) {
    localStorage.setItem('theme', mode);
    document.documentElement.setAttribute('theme', mode);
    
    if (mode === 'dark') {
      document.body.classList.add('dark');
      document.getElementById('toggle-theme').classList.add('dark');
    } else {
      document.body.classList.remove('dark');
      document.getElementById('toggle-theme').classList.remove('dark');
    }
  }

  // テーマの初期化
  const isDarkMedia = window.matchMedia('(prefers-color-scheme: dark)').matches;
  const isDarkTheme = localStorage.getItem('theme') === 'dark';
  if (isDarkMedia || isDarkTheme) changeTheme('dark');

  // テーマ変更ボタンの検知
  const toggle = document.getElementById('toggle-theme');
  toggle.addEventListener('click', () => {
    if (document.body.classList.contains('dark')) changeTheme('light');
    else changeTheme('dark');
  });

  // ハンバーガーメニューの検知
  const hamburger = document.getElementById('hamburger');
  hamburger.addEventListener('click', () => {
    document.getElementById('drawer').classList.toggle('open');
    hamburger.classList.toggle('active');
  });

  // スクロール時のヘッダーの影の検知
  document.addEventListener('scroll', (e) => {
    const header = document.getElementById('header');
    if (window.scrollY < 5) header.classList.remove('shadow');
    else header.classList.add('shadow');
  });
</script>