<h1 class="title">{{ .section.name }}</h1>
<div id="{{ .section.id }}">
  {{ range .projects }}
  <div class="project">
    <div class="title">{{ .name }}</div>
    <div class="summary">{{ .summary }}</div>

    <div class="tags">
      {{ range .tags }}
      <div class="tag">{{ . }}</div>
      {{ end }}
    </div>

    {{ if .repo }}
      <a class="github" href="{{ .repo }}" target="_blank" title="github">
        {{ partial "icons/ionicons" (dict "logoname" "logo-github" "class" "svgicon") }}
      </a>
    {{ end }}
  </div>
  {{ end }}
</div>