<div id="soft-skills">
  {{ range .softSkills }}
  {{ $persentage := mul .percentage 6.28 }}
  <div class="progress">
    <div class="circle" data-name="{{ .name }}">
      <svg viewBox="-10 -10 220 220">
        <g fill="none" stroke-width="3" transform="translate(100,100)">
          <path d="M 0,-100 A 100,100 0 0,1 86.6,-50" stroke="url(#cl1)" />
          <path d="M 86.6,-50 A 100,100 0 0,1 86.6,50" stroke="url(#cl2)" />
          <path d="M 86.6,50 A 100,100 0 0,1 0,100" stroke="url(#cl3)" />
          <path d="M 0,100 A 100,100 0 0,1 -86.6,50" stroke="url(#cl4)" />
          <path d="M -86.6,50 A 100,100 0 0,1 -86.6,-50" stroke="url(#cl5)" />
          <path d="M -86.6,-50 A 100,100 0 0,1 0,-100" stroke="url(#cl6)" />
        </g>
      </svg>
      <svg viewBox="-10 -10 220 220">
        <path stroke-dashoffset="{{ sub 628 $persentage }}"
        stroke="var(--{{ .color }})"
        d="M0,100C0,44.77,44.77,0,100,0s100,44.77,100,100-44.77,100-100,100S0,155.23,0,100Z">
        </path>
      </svg>
    </div>
  </div>
  {{ end }}
</div>