.section-light {
  background-color: var(--background-light);

  .title {
    padding-top: 50px;
    text-align: center;
  }
}

.section-dark {
  background-color: var(--background-dark);

  .title {
    padding-top: 50px;
    text-align: center;
  }
}
