.markup_link {
  color: var(--blue);
}

.mrkup-h1,
.mrkup-h2,
.mrkup-h3 {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--text);
    opacity: .2;
    text-decoration: underline;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
